<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ddiehl.rgsc"
    android:versionCode="2"
    android:versionName="1.01" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ModuleList"
            android:label="@string/title_module_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutApp"
            android:label="@string/title_about" >
        </activity>
        <activity
            android:name=".com.ddiehl.rgsc.calculators.Calculator_InTheGroove"
            android:label="@string/title_itg" >
        </activity>
        <activity
            android:name=".com.ddiehl.rgsc.calculators.Calculator_DDRExtreme"
            android:label="@string/title_ddrex" >
        </activity>
        <activity
            android:name=".com.ddiehl.rgsc.calculators.Calculator_DDRSN2"
            android:label="@string/title_ddrsn2" >
        </activity>
        <activity
            android:name=".com.ddiehl.rgsc.calculators.Calculator_DDRSN1"
            android:label="@string/title_ddrsn1" >
        </activity>
        <activity
            android:name=".com.ddiehl.rgsc.calculators.Calculator_PopN"
            android:label="@string/title_popn" >
        </activity>
        <activity
            android:name=".com.ddiehl.rgsc.calculators.Calculator_IIDX"
            android:label="@string/title_activity_calculator__iidx" >
        </activity>
    </application>

</manifest>
